.ms_navbar {
    background-color: #2c3f50;
    width: 100%;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.ms_bg_green {
    background-color: #1abc9c;
}

.ms_avatar_img {
    max-width: 300px;
}

.ms_container {
    width: 70%;
    flex-direction: column;
    margin: auto;
}

.ms_bg_footer_top {
    background-color: #3b546d;
}

.ms_color_green {
    color: #1abc9c;
}

.ms_bg_footer_bottom {
    background-color: #2c3f50;
}

